{{#partial "content"}}

    <h5>Category:</h5>
    <p>{{ category.name }}</p>
    <p>Description:</p>
    <p>{{ task.description }}</p>

    <h5>Task status:</h5>
    <p>
        <a href="/tasks/{{task.id}}/update">Edit this task</a><br>
        <a href="/tasks/{{task.id}}/delete">DELETE this task (no undo)</a>
    </p>

{{/partial}}

{{> layout.hbs}}